appnope==0.1.0
args==0.1.0
astroid==2.0.4
autopep8==1.4.3
backcall==0.1.0
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
clint==0.5.1
coverage==4.5.2
decorator==4.3.0
Django==2.1.5
django-exceptions==0.4
django-translations==1.1.0
djangorestframework==3.9.1
expects==0.9.0
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.12.1
idna==2.8
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.13.2
lazy-object-proxy==1.3.1
mamba==0.10
mccabe==0.6.1
numpy==1.16.0
oauthlib==3.0.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2==2.7.7
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.4.0
Pygments==2.3.1
pylint==2.1.1
pytz==2018.9
redgreenunittest==0.1.1
requests==2.21.0
requests-oauthlib==1.2.0
requirements==0.1
rsa==4.0
six==1.11.0
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.24.1
wcwidth==0.1.7
wrapt==1.10.11
